body {
    margin: 0;
    background-color: pink;

}

header {
    background-image: url(pattern.png);
    height: 200px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#banner-text {
    font-size: 50px;
    text-shadow: 2px;
    text-shadow: black;
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;

}

h2 {
    display: flex;
    justify-content: center;
}
img { 
    max-width: 10%;
    max-height: 10%;
    margin: 0;
}

nav {
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    height: 50px;
    border: 2px solid black;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    margin-left: 30%;
    margin-right: 30%;
}


input[type="radio"] {
    align-self: start;
}


fieldset {
    display: flex;
    justify-content: space-between;
}